/* les colonnes avec les flammes */

.challenge_scores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 140px 1fr 50px;
  grid-template-areas: "flamme_ethelred flamme_lufkin flamme_pokeby flamme_wright flamme_summerbee flamme_grymm" "colonnes colonnes colonnes colonnes colonnes colonnes" "score_ethelred score_lufkin score_pokeby score_wright score_summerbee score_grymm";
  grid-gap: 0 16px;
  padding: 0 6px;
  overflow: hidden;
  border-radius: 15px;
  background: linear-gradient(0deg, transparent 0%, #fff 50%, #fff 100%);
  width: 480px;
  margin: auto;
}

.flammes img {
  width: auto;
  height: 110%;
  object-fit: cover;
}
.flamme_ethelred {
  grid-area: flamme_ethelred;
}
.flamme_lufkin {
  grid-area: flamme_lufkin;
}
.flamme_pokeby {
  grid-area: flamme_pokeby;
}
.flamme_wright {
  grid-area: flamme_wright;
}
.flamme_summerbee {
  grid-area: flamme_summerbee;
}
.flamme_grymm {
  grid-area: flamme_grymm;
}

.flamme_ethelred img {
  content: url(https://hungcalf.github.io/ressources/moodboards/flamme_ethelred.gif);
  margin-left: 1px;
}
.flamme_lufkin img {
  content: url(https://hungcalf.github.io/ressources/moodboards/flamme_lufkin.gif);
  margin-left: 2px;
}
.flamme_pokeby img {
  content: url(https://hungcalf.github.io/ressources/moodboards/flamme_pokeby.gif);
  margin-left: 3px;
}
.flamme_wright img {
  content: url(https://hungcalf.github.io/ressources/moodboards/flamme_wright.gif);
  margin-left: 4px;
}
.flamme_summerbee img {
  content: url(https://hungcalf.github.io/ressources/moodboards/flamme_summerbee.gif);
  margin-left: 2px;
}
.flamme_grymm img {
  content: url(https://hungcalf.github.io/ressources/moodboards/flamme_grymm.gif);
}

.colonnes {
  grid-area: colonnes;
  width: 100%;
}
.colonnes img {
  object-fit: cover;
  object-position: 52% 50%;
  height: 144px;
  content: url(https://hungcalf.github.io/ressources/moodboards/colonnesx6.png);
}

.colonnes2 {
  display:none;
}

.score {
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
  margin: 12px 0;
}
.ethelred {
  color: silver;
  margin-left: 1px;
}
.lufkin {
  color: cornflowerblue;
  margin-left: 4px;
}
.pokeby {
  color: thistle;
  margin-left: 8px;
}
.wright {
  color: indianred;
  margin-left: 8px;
}
.summerbee {
  color: goldenrod;
  margin-left: 8px;
}
.grymm {
  color: seagreen;
}

.first {
  margin-top: -37px;
  height: 140% !important;
}
.top_score {
  font-size: 38px;
  letter-spacing: -3px;
  margin-left: 0px;
}

/* tournoi de duels */

.tournoi_duels {
  border-radius: 15px;
  background: #fff;
  border-spacing: 0;
  margin: auto;
  font-family: var(--police_txt);
}
.tournoi_duels h2 {
  font-family: var(--police_sst);
  margin: 2rem 0 0 0;
  line-height: 0.75rem;
  color: var(--color_title);
  border-bottom: 2px solid var(--color_title);
}
.tournoi_duels h3 {
  font-family: var(--police_sst);
  font-size: 3.5rem;
  margin: 0;
  color: var(--color_background3);
}
.tournoi_duels td {
  min-width: 1rem;
  text-align: center;
}
div.name {
  border-radius: 1rem;
  background: #f0f0f0;
  margin: 0.5rem;
  padding: 1rem 0.5rem;
  border: 1px solid silver !important;
}
div.name.ethelred {
  color: gray;
}
div.name.lufkin {
  color: cornflowerblue;
}
div.name.pokeby {
  color: rgb(106, 61, 114);
}
div.name.wright {
  color: indianred;
}
div.name.summerbee {
  color: goldenrod;
}
div.name.grymm {
  color: seagreen;
}
.bbord {
  border-bottom: var(--color_background4) 2px solid !important;
}
.tbord {
  border-top: var(--color_background4) 2px solid !important;
}
.rbord {
  border-right: var(--color_background4) 2px solid !important;
}
.brbord {
  border-bottom: var(--color_background4) 2px solid !important;
  border-right: var(--color_background4) 2px solid !important;
}
.empty {
  border: none;
}
.winner {
  background: #b0e5b0 !important;
}

/* 2e épreuve Jeu de l'Oie */

.deux_epreuve {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.deux_epreuve .name {
  font-size: 1.5rem;
  width: fit-content;
  font-family: var(--police_sst);
}
.cases_totales {
  width: 450px;
  height: 20px;
  border: 1px solid var(--color_background1);
  background: var(--color_background2);
}
.c1 {
  width: calc(15px * 1);
}
.c2 {
  width: calc(15px * 2);
}
.c3 {
  width: calc(15px * 3);
}
.c4 {
  width: calc(15px * 4);
}
.c5 {
  width: calc(15px * 5);
}
.c6 {
  width: calc(15px * 6);
}
.c7 {
  width: calc(15px * 7);
}
.c8 {
  width: 120px;
}
.c9 {
  width: calc(15px * 9);
}
.c10 {
  width: calc(15px * 10);
}
.c11 {
  width: calc(15px * 11);
}
.c12 {
  width: calc(15px * 12);
}
.c13 {
  width: calc(15px * 13);
}
.c14 {
  width: calc(15px * 14);
}
.c15 {
  width: calc(15px * 15);
}
.c16 {
  width: calc(15px * 16);
}
.c17 {
  width: calc(15px * 17);
}
.c18 {
  width: calc(15px * 18);
}
.c19 {
  width: calc(15px * 19);
}
.c20 {
  width: calc(15px * 20);
}
.c21 {
  width: calc(15px * 21);
}
.c22 {
  width: calc(15px * 22);
}
.c23 {
  width: calc(15px * 23);
}
.c24 {
  width: calc(15px * 24);
}
.c25 {
  width: calc(15px * 25);
}
.c26 {
  width: calc(15px * 26);
}
.c27 {
  width: calc(15px * 27);
}
.c28 {
  width: calc(15px * 28);
}
.c29 {
  width: calc(15px * 29);
}
.c30 {
  width: calc(15px * 30);
}
.avancee {
  margin: 0 !important;
  height: inherit;
  text-align: center;
}
.avancee.ethelred {
  background: gray;
}
.avancee.lufkin {
  background: cornflowerblue;
}
.avancee.pokeby {
  background: rgb(106, 61, 114);
}
.avancee.wright {
  background: indianred;
}
.avancee.summerbee {
  background: goldenrod;
}
.avancee.grymm {
  background: seagreen;
}
.deux_epreuve h2 {
  font-family: var(--police_sst);
  margin: 2rem 0 0 0;
  line-height: 0.75rem;
  color: var(--color_title);
  border-bottom: 2px solid var(--color_title);
  width: 100%;
  text-align: center;
}
.deux_epreuve h3 {
  font-family: var(--police_sst);
  font-size: 3.5rem;
  margin: 0;
  color: var(--color_background3);
  width: 100%;
  text-align: center;
}
.timing {
  font-size: 1rem;
  color: var(--color_neg);
}

/* 3e epreuve - gif hadrian */

.hadrian_lightbound {
  width: 200px;
  height: 100px;
  object-fit: cover;
  float: left;
  margin: 0.25rem 0.5rem 0 0;
}

/* victoire finale */


.bloc_victoire {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  width:150px;
  margin:auto;
  border-radius:5px;
  border: 1px solid var(--color_fan);
}
.flamme_victoire img {
  width: auto;
  height: 200px!important;
  object-fit: cover;
  border-radius:5px 5px 0 0 ;
}
.colonne_victoire {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  width:80px;
  margin:auto;
  background: linear-gradient(0deg, var(--color_background1) 0%, #fff 50%, #fff 100%);
}
.colonne_victoire img {
  object-fit: cover;
  object-position: 60% 50%;
  height: 144px;
  content: url(https://hungcalf.github.io/ressources/moodboards/colonnesx6.png);
}
.bloc_victoire .score {
  background: var(--color_background1);
  padding-bottom: 1rem;
}


/* ajustements mobile */

@media all and (max-width: 480px) {
  .challenge_scores {
    width: 280px;
    background:#FFFFFF;
    margin: auto;
    grid-gap: 0 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 1fr 50px 140px 1fr 50px;
    grid-template-areas: "flamme_ethelred flamme_lufkin flamme_pokeby" "colonnes colonnes colonnes" "score_ethelred score_lufkin score_pokeby" "flamme_wright flamme_summerbee flamme_grymm" "colonnes2 colonnes2 colonnes2" "score_wright score_summerbee score_grymm";
  }

  .colonnes {
    grid-area: colonnes;
    width: 100%;
  }
  .colonnes img {   
    padding: 0 10px;
    height: 145px;
    object-position: 66% 50%;
  }
  .colonnes2 {
    display:unset;
    grid-area: colonnes2;
    width: 100%;
  } 
  .colonnes2 img  {
    object-fit: cover;
    padding: 0 10px;
    height: 145px;
    object-position: 66% 50%;
    content: url(https://hungcalf.github.io/ressources/moodboards/colonnesx6.png);
}
  
.flamme_ethelred img {
  margin-left: 8px;
}
.flamme_pokeby img {
  margin-left: -8px;
}
.flamme_wright img {
  margin-left: 6px;
}
.flamme_summerbee img {
  margin-left: 2px;
}
.flamme_grymm img {
  margin-left: -8px;
  }
  
.ethelred {
  margin-left: 12px;
}
.lufkin {
  margin-left: 2px;
}
.pokeby {
  margin-left: -9px;
}
.wright {
  margin-left: 12px;
}
.summerbee {
  margin-left: 8px;
}
.grymm {
  margin-left: -9px;
}
}
