/* FICHE DE LIENS */

.citation .citlien {
  margin-top: 6px;
}

.presentation_perso {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  justify-content: space-around;
}

.liste_mots_cles {
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 48%;
  justify-content: space-around;
  font-size: 14px;
  font-variant: small-caps;
}

.mot_cle {
  background: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
}

.avatar_perso {
  border: 10px solid var(--color_fan);
}

.avatar_perso img {
  width: 200px;
  height: 320px;
  object-fit: cover;
}

.trois_icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.trois_icons img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.separation_ligne {
  width: 80%;
  border-bottom: 1px solid var(--color_link);
  margin: 2rem auto;
}

.liens_recherches {
  width: 100%;
}

.bloc_lien {
    opacity: 0.5;
  transition: 0.2s all;
  display: flex;
  align-items: center;
}
.bloc_lien:hover {
  opacity: 1;
}
.bloc_lien img {
  border: 3px solid var(--color_title);
  padding: 2px;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 6px;
}
.bloc_lien p {
  margin: 0;
  padding: 0;
  width: calc(100% - 106px);
}
.liens_succincts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.titre100 {
  width: 100%;
}
.lien_succinct {
  margin: 3px auto;
}
.backficheint.lien_succinct {
  width: 48%;
  display: flex;
  align-items: center;
}
.lien_succinct p {
  margin: 0;
  padding: 0;
  width: calc(100% - 106px);
}
p.pas_dimage {
  width:100%;
}



/* ajustements affichages mobiles "version mobile" */

@media all and (max-width: 480px) {
.liste_mots_cles {
width:inherit;
}

.trois_icons img {
  width:60px;
}

.bloc_lien {
  flex-direction: column;
}
}