/* DEBUT DE LA PARTIE A C/C DANS LA FICHE PARTENAIRE */

/* pour rappeler des trucs... */
:root {
  --police_sst: 'dancing script', cursive, bold;
  --police_txt: 'Calibri', 'Verdana', 'Arial', 'Helvetica', sans-serif;
  --color_text: #333;
  --color_title: #226d82;
  --color_link: #A5596D;
  --color_background1: #8F828E;
  --color_background2: #3B2339;
  --color_background3: #C7C0C7;
  --color_background4: #E3E0E3;
  --color_background5: #F9F8F9;
  --img_header:url('https://2img.net/r/ihimizer/img923/3082/tcWq8k.jpg');
  --fond_pa: url('https://2img.net/r/ihimizer/img923/3123/5CufJ0.jpg'); 
  --fond_blocava: url('https://2img.net/r/ihimizer/img923/3123/5CufJ0.jpg');
  --fond_codquot: url('https://2img.net/r/ihimizer/img923/3123/5CufJ0.jpg');
  --chap_intrigue: url('https://2img.net/r/ihimizer/img923/1575/AgbTZa.jpg');
  --img_top_sites: url('https://2img.net/r/ihimizer/img923/3116/eTRJAa.png');
  --deco_pa: url('https://2img.net/r/ihimizer/img924/2348/1kHSUL.png');
  --deco_profil: url('https://2img.net/r/ihimizer/img924/2554/ztw150.png');
  --fleche_haut: url('https://2img.net/r/ihimizer/img923/7282/wPVLaL.png');
  --fleche_haut_hover: url('https://2img.net/r/ihimizer/img922/3121/vClkNu.png');
  --fleche_bas: url('https://2img.net/r/ihimizer/img923/7758/2Na6sO.png');
  --fleche_bas_hover: url('https://2img.net/r/ihimizer/img924/7733/8Gih4b.png');
  --background: url('https://2img.net/r/ihimizer/img924/4852/svkrHJ.jpg');
}

/* Deco italique */
em,
i {
  font-family: Georgia !important;
  font-size: 11px;
}

/* Deco souligné */
u {
  text-decoration: none;
  border-bottom: 1px solid var(--color_link);
}

/* Police divers */
aa {
  color: var(--color_title) !important;
  font-weight: bold;
}

bb {
  color: var(--color_link) !important;
}

cc {
  color: var(--color_link);
  background: linear-gradient(90deg, rgba(214, 197, 178, 1) 0%, rgba(69, 28, 14, 1) 100%);
}

/* FIN DU CODE A C/C DANS LA FICHE PARTENAIRE */

/* LIENS ET BOUTONS */
a {
  font-weight: bold;
  text-decoration: none !important;
  transition: 1s !important;
  -moz-transition: 1s !important;
  -webkit-transition: 1s !important;
  -o-transition: 1s !important;
  color: var(--color_background3);
}

a:hover,
a:active {
  color: var(--color_link) !important;
  text-decoration: none !important;
}

a.forumtitle:link,
a.forumtitle:visited {
  font-weight: lighter;
  text-transform: lowercase;
  padding-left: 12px;
  text-decoration: none !important;
  transition: 1s !important;
  -moz-transition: 1s !important;
  -webkit-transition: 1s !important;
  -o-transition: 1s !important;
  color: var(--color_link);
  font-family: var(--police_sst) !important;
  font-size: 2.1rem;
  line-height: 24px;
  text-align: left;
}

.footerbar-system a,
.copyright a {
  color: var(--color_link);
}

a.forumtitle:hover,
a.forumtitle:active {
  font-weight: bold !important;
  color: var(--color_link) !important;
  text-decoration: none !important;
}

.footerbar-system a:hover,
.copyright a:hover {
  color: var(--color_link);
}

.mentiontag:link,
.mentiontag:visited {
  color: var(--color_link);
  background: transparent !important;
}

.mentiontag:active,
.mentiontag:hover {
  background: transparent !important;
}

#tabs ul a span {
    color: var(--color_link);
}

li.rightside {
    color: var(--color_link)!important;
}

i[data-tooltip='Cacher'] {
  color: var(--color_background2) !important;
}

/* boutons */
.button,
.button1,
.button2,
input[type="submit"] {
  background-color: var(--color_link);
}

.button,
.button1,
.button2 {
  background: var(--color_link);
}

.button:hover,
.button1:hover,
.button2:hover,
input[type="submit"]:hover {
  background: var(--color_title);
}

.button1:active,
.button1:link,
.button1:visited,
.button2:active,
.button2:link,
.button2:visited,
.button:active,
.button:link,
.button:visited,
input[type="submit"]:active,
input[type="submit"]:link,
input[type="submit"]:visited {
  color: var(--color_background5);
}

.button1:hover,
.button2:hover,
.button:hover,
input[type="submit"]:hover {
  color: var(--color_background5) !important;
}

.button+.button-round,
.button+.button1,
.button+.button2,
.button1+.button-round,
.button1+.button1,
.button1+.button2,
.button2+.button-round,
.button2+.button1,
.button2+.button2,
input[type="submit"]+.button-round,
input[type="submit"]+.button1,
input[type="submit"]+.button2 {
  margin-top: 0px;
}

.topic-actions.bottom .topic-actions-buttons>a,
.topic-actions.bottom .topic-actions-buttons>span {
  vertical-align: middle;
  margin: 5px 0 5px 18px;
}

.pagination span a:active {
  background-color: tranparent;
}

.pagination span a.pag-img img {
  margin-bottom: 9px;
  filter: invert(1);
}

.pagination span a.pag-img img:hover {
  filter: invert(0);
}

.pagination span a:active,
.pagination span a:link,
.pagination span a:visited {
  background-color: var(--color_link);
}

.row .pagination span a:active,
.row .pagination span a:link,
.row .pagination span a:visited {
  background-color: var(--color_link);
}

.mark>input {
  margin-top: 33%;
}

.button-round:active,
.button-round:hover,
.button-round:link,
.button-round:visited {
  color: var(--color_link);
}

a[href="/images"] {
  display: none;
}

/* input et select sur fond foncé 
à désactiver si fond clair */

input.tiny, select {
  color:var(--color_background3)!important;
}

label, #main-content {
  color:var(--color_background1);
}

/* liens forum top */
#wrap {
  font-size: 1.2rem;
  width: 900px;
}

/* pour raccourcir les url à rallonge */
.postbody a {
  display: inline-block;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

/* menu déroulant du bouton mentionner */
#fa-mention {
  background: url(https://i.servimg.com/u/f19/18/21/60/73/scemen10.png) no-repeat 3px 50% #FFF;
  padding-left: 22px;
}

/* INDEX */

/* flèches haut/bas */
.hautbas {
  position: fixed;
  bottom: 10px;
  right: 50px;
  z-index: 999;
  display: flex;
}

.haut,
.bas {
  width: 50px;
  height: 50px;
  display: block;
  transition-duration: 0.2s;
  opacity: 0.8;
}

.haut {
  content: var(--fleche_haut);
}

.bas {
  content: var(--fleche_bas);
}

.haut:hover {
  content: var(--fleche_haut_hover);
  opacity: 1;
}

.bas:hover {
  content: var(--fleche_bas_hover);
  opacity: 1;
}

/* début mise en page affichage catégories et forums */
html {
  background-image: var(--background);
  background-size: 100% 100%;
  height: auto;
}

body {
  font-family: var(--police_txt);
  background-color: transparent;
  margin-top: 42px !important;
  margin-bottom: 0px !important;
}

::-webkit-scrollbar {
  height: 3px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #F1F3E8;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_link);
  border: 1px;
  color: var(--color_link);
  border-radius: 1px 1px 1px 1px;
}

table,
td,
th {
  border: none !important;
  padding: 0px !important;
}

.onlinetable .row1 {
  text-align: center;
}

.bodyline {
  padding: 0px !important;
}

.bodylinewidth {
  width: 788px !important;
  margin-top: 0px !important;
  padding: 0px !important;
  border: none;
  background: transparent;
}

.forabg,
.forabg.hidden,
.forumbg,
.block {
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
  border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  margin-top: 18px;
  background-color: var(--color_background1) !important;
  border-collapse: collapse;
}

ul.forums {
  background: var(--color_background1);
}

li.row,
li.row1,
li.row2 {
  transition: 1s;
}

li.row:hover,
li.row1:hover,
li.row2:hover {
  background: rgba(255, 255, 255, 0.8);
  padding: 0 0 1px 0;
}

#logo {
  margin-top: 0px;
}

.headerbar {
  background: transparent;
  padding-top: 0px !important;
  height: auto;
}

.headerbar img {
  border-width: 0px;
  position: relative;
  left: -36px;
  width: 900px;
}

#cp-main table.table1 {
  background-color: transparent;
}

#cp-main table.table1 thead th {
  color: var(--color_text);
}

.linklist li {
  width: 828px;
}

.copyright-body,
.linklist {
    border-color: var(--color_background2);
}

/* SUJETS */

.i_icon_online {
  position: relative;
  top: -22px;
  left: 149px;
  transform: rotate(90deg);
  filter: hue-rotate(70deg);
}

.online:before {
  visibility: hidden;
}

.topic-title-container>strong {
  border: none;
}

/* lignes */
hr {
  opacity: 0.3;
}

.ligne1 {
  border-bottom: 11px solid var(--color_link);
}

.ligne2 {
  border-bottom: 1px solid var(--color_link);
}

.ligne3 {
  border-bottom: 1px solid silver;
}

/* post header */
.post-head {
  background-color: var(--color_background3);
  border-color: var(--color_title);
  border-bottom: 10px;
  font-family: var(--police_sst) !important;
  font-size: 10px !important;
}

.post-head .topic-date {
  font-size: 1.5rem;
}

.page-title {
  background-color: transparent;
  padding-left: 18px !important;
  margin: 0px !important;
  font-family: var(--police_sst) !important;
  font-size: 20px !important;
}


/* LISTE DES SUJETS */
.topicslist_row {
  background: var(--color_link);
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 10px;
  display: grid;
  grid-column-gap: 3px;
  grid-template-columns: 10px 375px 20px 10px 152px;
  grid-template-rows: 30px auto;
  align-items: center;
}

.topicslist_row:last-child {
  margin-bottom: 0;
}

.topicslist_row:hover {
  background: var(--color_link);
}

.topicslist-img {
  width: auto !important;
  height: 30px;
  background: transparent;
}

.topictitle {
  font-size: 10px;
  font-family: 'times new roman' !important;
}

.topic_msgicon {
  margin-right: 5px;
}

.topiclist-infos img {
  margin-right: 3px;
}

.topicslist-stats {
  text-align: right;
}

.topicslist-avatar-lastpost img {
  object-fit: cover;
  object-position: center;
  width: auto !important;
  height: 50px;
  background: var(--color_link);
}

.topicslist-description {
  grid-column: 1 / span 5;
  border-top: 1px solid var(--color_link);
  margin: 10px -10px 0;
  padding: 5px 10px 0;
}

.post {
  border-color: var(--color_background1);
}

/* marge de la ligne de liens du bas */
.sub-header-info {
  float: left;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Début CODES FICHES */

.backfichehistoire {
  padding: 10px;
  border-radius: 3px;
  line-height: 13px;
  text-align: justify;
  font-size: 12px;
  margin: auto;
  height: 200px;
  overflow: auto;
}

.backfiche {
  background-color: #F4F4F4;
  border: 1px solid #DCDCDC;
  padding: 15px;
  border-radius: 3px;
  line-height: 13px;
  text-align: justify;
  font-size: 11px;
  margin: auto;
  width: 525px
}

.backfiche table {
  margin: auto;
}

.backficheint {
  border-radius: 3px;
  border: 1px var(--color_link) solid;
  padding: 12px;
  background-color: #FFFFFF;
  line-height: 13px;
  text-align: justify;
  margin: auto;
  max-width: 495px !important;
}

.titre01 {
  color: var(--color_link) !important;
  margin-left: 10px;
  margin-top: -3px;
  display: block;
  position: relative;
  height: 10px;
  font-family: var(--police_sst);
  font-style: italic;
  font-size: 19px;
  font-weight: lightrer;
  letter-spacing: 0px;
  text-transform: lowercase;
  transition: .5s;
  text-shadow: 2px 2px 2px whitee;
  text-align: center;
}

.titre01bis {
  color: var(--color_link) !important;
  font-family: var(--police_sst);
  font-style: italic;
  font-size: 25px;
  font-weight: lightrer;
  letter-spacing: 0px;
  text-transform: lowercase;
  text-align: center;
  margin: 0px 0px 5px 0px;
  display: block;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.titre02 {
  color: #a1a1a1 !important;
  font-family: var(--police_txt);
  text-align: center;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 2px;
  font-weight: boold;
  margin-left: 10px;
  margin: 5px 0px 5px 0px;
  display: block;
  background-color: #FFFFFF;
  border-bottom: 1px dashed #BABABA;
  border-top: 1px dashed #BABABA;
}

.soustitre {
  color: var(--color_title) !important;
  font-family: var(--police_txt);
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 0px 0px -5px 0px;
  border-top: 1px var(--color_link) solid;
}

.titre03 {
  text-align: center;
  color: #FFFFFF !important;
  font-family: var(--police_txt);
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 0 0 4 0;
  display: block;
  background-color: var(--color_link);
  border-bottom: 1px solid #DCDCDC;
}

.titre03>.mentiontag,
.titre03>.mentiontag:visited {
  color: var(--color_title);
}

.titre03>.mentiontag:hover,
.titre03>.mentiontag:active {
  color: var(--awards_color) !important;
}

.titre04 {
  text-align: center;
  color: #453A34 !important;
  font-family: 'Bungee', cursive;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: 10px;
  margin: 0 0 5 0;
  display: block;
  background-color: #B9BCA7;
  border-bottom: 1px solid #959887;
  border-top: 1px solid #959887;
}

.identitycard {
  font-family: var(--police_sst);
  font-size: 12px;
  line-height: 15px;
}

.citation {
  color: #A4A4A4 !important;
  font-family: var(--police_txt);
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 1px;
  padding: 2px;
  line-height: 8px;
  text-transform: lowercase;
  padding: 0px;
  margin-bottom: 5px;
  text-align: center;
}

/* Police bottin des avatars */
bottin {
  text-transform: lowercase;
}

/* Ajouts à l'univers */
.ajout_fieldset {
  border: 1px solid var(--color_link); 
  padding: 0 5px 5px 5px; 
  height: 75px; 
  overflow: auto; 
  font-size: 11px; 
  line-height: 12px;
}

.ajout_fieldset a {
  font-size: 8px;
}

.ajout_legend {
  color: var(--color_title); 
  padding: 0 10px 2px 0; 
  font-size: 18px; 
  line-height: 22px; 
  font-weight: 500; 
  font-family: var(--police_sst);
}

/* img fiche de pv + legende crédit */
.bloc_img {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 320px;
  margin: 0 0 0 10px;
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  border-bottom: 1px solid #CCBE8E
}

.legende_img {
  position: absolute;
  left: 0;
  bottom: -1.7em;
  width: 200px;
  height: 0;
  line-height: 1.5em;
  text-align: center;
  color: #FFFFFF;
  background: var(--color_link);
  font-size: 11px;
  font-weight: bold;
  overflow: hidden;
  transition: all 0.7s;
  opacity: 0.7;
  padding-top: 7px;
}

.bloc_img:hover .legende_img,
.bloc_img:focus .legende_img {
  height: 55px;
}

.roulette_pres {
  width: 280px;
  height: 320px;
  overflow: auto;
  text-align: justify;
  font-size: 11px;
  padding-right: 8px;
}

.credit {
  font-size: 10px;
  line-height: 10px;
  font-family: var(--police_txt);
  text-transform: lowercase;
  text-align: center;
}

/* MESSAGES */
div.postbody {
  text-align: justify;
  padding-left: 36px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.content p {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* pour supprimer la ligne d'édité le */
.edited-message {
  display: none;
}

/* pour supprimer les bordures de tableaux */
#preview .postbody table,
#preview .postbody td,
div[class*='post--'] .postbody table,
div[class*='post--'] .postbody td {
  border: 0px solid #444 !important;
}

/* code, quote, spoiler */
dt {
  color: #787878;
}

dl {
  margin-bottom: 12px !important;
  margin-top: 12px !important;
}

.code {
  border: 1px dashed #666666;
  color: #666666;
  font-family: calibri;
  font-size: 12px;
  padding: 6px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 8px;
}

.code div.cont_code {
  padding-right: 4px;
  max-height: 800px;
  overflow: auto;
}

/*-code selection-*/
.selectCode {
  float: right;
  text-transform: lowercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}

div.cont_code {
  clear: right;
}

.codebox {
  width: 450px;
}

/* forcer la largeur du spoiler à s'adapter au contenu */
.spoiler {
  width: 100%;
}

blockquote {
  border: none;
  background: transparent;
}

blockquote:before {
  content: none;
}

.profile-icons a,
.profile-icons span {
  box-shadow: none;
  border: none;
}

/* PAGE D'ACCUEIL */

/* partie sous le header */
.guide {
  font-family: var(--police_sst);
  font-size: 2.3rem;
  margin-top: 0px;
}

/* bandeau d'annonce */
#fa_ticker {
  background-color: var(--color_background3);
  border-radius: 5px;
}

#fa_ticker_block {
  background-color: transparent !;
  color: #c2c2c2;
}

#fa_ticker_block .module {
  background-color: transparent;
}

/* bloc pa */
.bloc_pa .guide {
  font-variant: initial !important;
}

.panel {
  padding: 18px 0 0 18px !important;
  font-size: 1.2rem;
}

.paqeel {
  background: var(--color_background1) var(--fond_pa) top center no-repeat;
  padding: 6px 0 5px !important;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid var(--color_background1);
}

.mdm {
  width: 260px !important;
  height: 100px !important;
}

.mdm img {
  width: 120px;
  height: 60px;
  object-fit: cover;
  filter: grayscale(100%);
}

.mdm img:hover {
  filter: none;
}

.intrigue {
  width: 260px;
  height: 38px;
  margin: 0 0 0 -5px;
  border-radius: 5px;
  position: relative;
  content: var(--chap_intrigue);
}

.staff {
  width: 260px !important;
  margin-top: 2px !important;
  height: 135px !important;
}

.staff .sousForums {
  width: 250px !important;
  height: 108px !important;
  overflow: hidden;
  overflow-y: auto;
}

.saison {
  width: 230px !important;
  text-align: justify !important;
  font-size: 13px;
  word-break: keep-all;
  line-height: 13px;
  -moz-border-radius: 5px;
  -moz-transition: 1s;
  -o-border-radius: 5px;
  -o-transition: 1s;
  -webkit-border-radius: 5px;
  -webkit-transition: 1s;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  position: relative;
  transition: 1s;
  max-height: 145px;
  overflow: auto !important;
}

.saison img {
  width: 12px !important;
  height: 12px !important;
}

.scena {
  width: 260px !important;
}

.bloc_img_pv {
  position: relative;
  float: left;
  margin: 2px;
}

.bloc_img_pv img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  filter: grayscale(100%);
}

.bloc_img_pv img:hover {
  filter: none;
}

.bloc_comm_pv {
  position: absolute;
  top: 30px;
  left: -17px;
  z-index: 12;
  width: 80px;
  background-color: #fff;
  border: 1px solid #CCBE8E;
  padding: 3px;
  font-size: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 9px;
  text-align: center;
  word-break: keep-all;
  display: none;
  opacity: 0.8;
}

.bloc_img_pv:hover>.bloc_comm_pv {
  display: block;
}

.topsites {
  position: relative;
  margin: 5px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 260px;
  float: right;
}

.topsites img {
  width: 18px;
  height: 18px;
  content: var(--img_top_sites);
}

.detdsgn {
  position: relative;
  z-index: 1;
  width: 260px;
  content: var(--deco_pa);
}

/* PROFIL */

/* page de profil */
.field_uneditable {
  text-align: justify;
}

.field_uneditable img {
  border: 10px;
  margin: 0px;
  -moz-border-radius: 4x;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #ffffff;
  max-width: 200px;
}

div.field_uneditable a img {
  max-height: 21px;
}

legend {
  text-indent: 10px;
}

/* img sujets surveillés */
.posts img {
  max-width: 40px;
}

/* largeur notifications */
html>body table.table1 {
  width: 97%;
}

.right-box {
  margin-right: 10px;
}

.left-box {
  word-break: break-word;
}

/* page des brouillons */
table.table1 tbody td {
  padding: 3px;
}

/* dans les sujets */
.bloc_id_poster {
  background: #f5f5f5 var(--fond_blocava) bottom right no-repeat !important;
  border: 0px solid silver;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3px;
  margin-bottom: 8px;
}

div.bloc_id_poster a img {
  max-height: 21px;
}

img.i_icon_online {
  height: 58px !important;
  width: 58px !important;
}

td.gen.row1 img {
  max-height: 21px;
}

.bloc_name_poster {
  position: relative;
  top: -10px;
}

.name_poster {
  font-family: var(--police_sst) !important;
  font-size: 28px;
  position: center;
  z-index: 10;
}

.poster_img_avatar {
  position: relative;
  z-index: 1;
}

.poster_img_avatar img {
  border: 0px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  height: 320px;
  width: 200px;
}

.poster_img_rank {
  max-height: 20px;
  position: relative;
  top: -10px;
  color: #333333;
  font-size: 12px !important;
  line-height: 0px;
  z-index: 1;
}

.profile-icons a:hover {
  background: transparent;
  box-shadow: none;
  color: var(--color_link) !important;
}

.ion-edit:before {
  content: "\f2bf" !important;
}

.ion-quote:before {
  content: "\f347" !important;
}

.ion-trash-a:before {
  content: "\f252" !important;
}

/* IMAGES DIVERSES */

/* img feuille perso */
.montrerfeuilleperso {
  height: 83px;
  text-align: left;
  overflow: hidden;
  width: 195px;
  padding: 6px;
}

.montrerfeuilleperso img {
  position: center !important;
  width: 175px;
  height: 75px;
  margin: 0 10px;
  content: var(--deco_profil);
}

.montrerfeuilleperso textarea {
  background-color: #f9f9f9 !important;
  border: 1px solid #e0e0e0;
  font-size: 9px;
  height: 127px;
  text-align: justify;
  width: 185px !important;
  margin-left: 3px;
}

/* image dans la page de profil */
div .field_uneditable img {
  max-width: 196px !important;
}

/* barre de liens du profil */
span.gen a.mainmenu:link {
  color: var(--color_link) !important;
}

span.gen a.mainmenu:visited {
  color: var(--color_link) !important;
}

span.gen a.mainmenu:hover {
  color: var(--color_link) !important;
}

span.gen a.mainmenu:active {
  color: var(--color_link) !important;
}

/* derniers posts */
.lastpost-avatar {
  float: right;
  position: relative;
  top: -4px;
  margin-right: 4px;
}

.lastpost-avatar img {
  border: 1px solid var(--color_background1);
  -moz-box-shadow: 0px 0px 25px var(--color_background1);
  -webkit-box-shadow: 0px 0px 25px var(--color_background1);
  -o-box-shadow: 0px 0px 25px var(--color_background1);
  box-shadow: 0px 0px 10px var(--color_background1);
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  object-fit: cover;
  border-radius: 48px;
  width: 48px;
  height: 48px;
}

.lastpost-avatar img:hover {
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

.lastpost-avatar2 {
  float: right;
  position: relative;
  top: 2px;
  margin-left: 12px;
}

.lastpost-avatar2 img {
  width: 37px;
  height: 58px;
  border: 1px solid var(--color_background1);
  -moz-box-shadow: 0px 0px 25px var(--color_background1);
  -webkit-box-shadow: 0px 0px 25px var(--color_background1);
  -o-box-shadow: 0px 0px 25px var(--color_background1);
  box-shadow: 0px 0px 25px var(--color_background1);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}

.lastpost-avatar2 img:hover {
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

.lastpost-avatar:after {
  content: "";
  border: none;
}

.postprofile-avatar img {
  margin-top: 24px;
  border: 3px solid var(--color_background4);
  border-radius: 0px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 30%), 0 0 1px rgb(0 0 0 / 30%);
  height: 320px;
  width: 200px;
  position: relative;
  left: -8px;
}

td.avatar-mini img {
  object-fit: cover;
}

.postprofile-info {
  margin-top: 20px;
  background: var(--fond_blocava) top center;
}

.postprofile-info img {
  max-width: 195px;
}

.postprofile {
  width: 220px;
  padding: 18px 6px;
}

.postprofile-rank {
  border: none;
}

.postprofile-info {
  overflow-y: auto;
  max-height: 400px;
  overflow-x: hidden;
  border: 3px solid var(--color_background4);
  box-shadow: 0 1px 1px rgb(0 0 0 / 30%), 0 0 1px rgb(0 0 0 / 30%);
  height: 220px;
  width: 210px;
  position: relative;
  left: -8px;
  background-color: #ffffff !important;
  padding-right: 5px;
  padding-left: 5px;
}

/* SIGNATURE */
.signature_div {
  width: 555px;
}

/* bloc de valid de la sign */
#cp-main .panel.sig {
  background: transparent;
}

/* AFFICHAGE DES CATEGORIES ET SUJETS */
h1,
h2,
.maintitle {
  color: var(--color_title);
  text-transform: lowercase;
  font-family: var(--police_sst) !important;
  font-size: 25px !important;
}

h2.topic-title {
  color: var(--color_title);
  text-transform: lowercase;
  font-style: italic;
  font-family: var(--police_sst) !important;
  font-size: 20px !important;
}

.post h2.topic-title a {
  color: var(--color_link);
}

.secondarytitle h2,
.cattitle,
.maintitle h1 {
  color: var(--color_title) !important;
  font-family: var(--police_sst) !important;
  font-size: 18px;
}

.panel h2,
.content h2 {
  color: var(--color_text);
}

table.table1 thead th {
  color: var(--color_text);
}

.topictitle {
  font-size: 14px;
  font-family: var(--police_sst);
}

.span.title,
div.title,
.title,
.nav a {
  font-family: var(--police_sst) !important;
  font-size: 12px !important;
}

.td.row2,
td.row1 {
  font-size: 10px;
}

#info_open td.row1,
#info_close td.row1 {
  background: transparent !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

ul.topics .row dd.dterm,
ul.topics .row dt {
  padding: 0px;
  padding-right: 62px;
  position: relative;
  top: 0;
  width: 67%;
}

li.row dd.lastpost {
  width: 25%;
}

ul.topics dt {
  width: 100% !important;
}

.topic-author {
  line-height: 16px;
  margin-top: 8px;
}

ul.topiclist dd {
  padding: 0px;
}

.topics .row .lastpost {
  padding: 0px 18px !important;
}

ul.topiclist dd.repvue {
  line-height: 15px;
  padding-top: 18px;
  text-align: left;
  font-size: 1.2rem;
  width: 60px;
}

/* titre catégorie et sujet */
h1.cattitle {
  position: relative;
  top: 20px;
}

.btn-collapse {
  top: 0px;
}

ul.topiclist dd.dterm,
ul.topiclist dt {
  padding: 10px;
  width: 60%
}

li.header dl.icon dd.dterm,
li.header dl.icon dt {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  width: 828px;
}

li.header dt,
.table-title h2 {
  color: var(--color_background2);
  text-align: center;
  width: 828px;
}

li.header dd {
  color: var(--color_background2);
}

ul.pmlist dt {
  padding-left: 81px !important;
}

/* bas des blocs de sujets et catégories */
.catBottom {
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-top: 2px dotted #fff !important;
  height: 29px;
  background: var(--fond_blocava) bottom no-repeat !important;
}

.curr_privmsg {
  opacity: 1;
}

/* pour rendre au premier message d'histo son opacité normale */

/* mise en forme sur la page d'accueil */
.recap_cat {
  width: 598px;
  float: left;
  padding: 5px;
  margin: 5px;
  height: 140px;
  background-color: var(--color_background3) !important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.hierarchy {
  text-align: center;
  font-family: var(--police_sst);
  font-size: 1.6rem;
}

.titre_hier {
  font-family: var(--police_sst) !important;
  font-size: 18px !important;
  text-align: center;
  line-height: 20px;
}

.titre_recap_sujet {
  line-height: 20px;
  height: 30px;
  width: 200px;
  text-align: center;
  background-color: var(--color_background3) !important;
  font-family: var(--police_sst);
}

div.recap_sujet span {
  padding: 8px 0;
}

.recap_sujet {
  position: relative;
  width: 210px;
  height: 140px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8rem;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: 5px;
  background-color: var(--color_background3) !important;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  float: right;
}

.last_post {
  background-color: var(--color_background4);
  border-radius: 3px;
}

.img_sujet {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 200px;
  opacity: 0.7;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  border: 1px solid var(--color_background1);
  border-radius: 5px;
}

.img_sujet:hover {
  opacity: 1;
}

.list_ssfo {
  width: 590px;
}

.sousForums {
  float: left;
  width: 180px;
  height: 112px;
  font-size: 0;
  overflow: auto;
  background-color: var(--color_background3);
  border-radius: 3px;
  border: 1px var(--color_background3) solid;
}

.sousForums a {
  display: block;
  background: var(--color_background4);
  color: var(--color_title) !important;
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sousForums a:hover {
  text-decoration: underline overline!important;
}

.desc_cat {
  float: left;
  height: 112px;
  width: 403px;
  overflow: auto;
  background-color: var(--color_background4);
  border-radius: 3px;
  border: 1px var(--color_background3) solid;
  line-height: 13px;
  padding: 4px;
  text-align: justify;
  margin-right: 5px;
  font-size: 1.2rem;
}

.desc_cat .gen,
.desc_cat .genmed,
.desc_cat .gensmall {
  font-size: 10px;
  color: #a6a6a6 !important;
}

.list_mod {
  font-size: 10px !important;
  text-align: left;
  position: relative;
  top: -15px;
  width: 100%;
}

/* SUJETS */
ul.topiclist.bg_none {
  background: var(--color_background4);
}

ul.topics dd.dterm {
  position: relative;
  top: 22px;
  left: 70px;
  line-height: 26px
}

.row dd.repvue {
  line-height: 20px;
  padding-top: 0px !important;
  text-align: center;
  width: 60px;
}

.liste_sujet {
  position: relative;
  float: left;
  height: 30px;
  width: 400px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: var(--color_link) !important;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-box-shadow: 0px 0px 25px #d3c8b6 inset;
  -webkit-box-shadow: 0px 0px 25px #d3c8b6 inset;
  -o-box-shadow: 0px 0px 25px #d3c8b6 inset;
  box-shadow: 0px 0px 25px #d3c8b6 inset;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.liste_sujet_right {
  position: relative;
  height: 70px;
  width: 230px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: rgba(235, 235, 235, 0.3) !important;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-box-shadow: 0px 0px 25px #d3c8b6 inset;
  -webkit-box-shadow: 0px 0px 25px #d3c8b6 inset;
  -o-box-shadow: 0px 0px 25px #d3c8b6 inset;
  box-shadow: 0px 0px 25px #d3c8b6 inset;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.liste_sujet_right:hover {
  background: rgba(235, 235, 235, 0.7) !important;
}

/* titre dans la FAQ */
dl.faq dt {
  font-family: var(--police_sst);
  color: var(--color_title);
}

/* TEXT AREA + AVATAR */
.textarea,
.sceditor-container,
textarea#text_editor_textarea {
  max-width: 565px !important;
  margin-top: 4px !important;
  background: #F7F7F7 !important;
}

.sceditor-toolbar {
  max-width: 565px !important;
  background: #F7F7F7 !important;
}

#quick_reply div.sceditor-container {
  clear: none;
}

#quick_reply .textarea,
#quick_reply .sceditor-container,
#quick_reply textarea#text_editor_textarea {
  max-width: 565px !important;
  float: right;
  margin-right: 65px !important;
}

textarea .inputbox {
  max-width:300px !important;
}

#av_quickreply {
  float: left;
  position: absolute;
  margin-top: 70px;
  margin-left: 65px;
}

#av_quickreply img {
  border: 3px solid #FFF;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.3);
  height: 130px;
  width: 130px;
  object-fit: cover;
}

/* affichage page de post */
#smiley-box,
.smile-status-box {
  width: 220px;
  margin-right: 18px;
  margin-top: 5px;
}

#sce_smilies_body {
  background-color: var(--color_background1);
}

#message-box #textarea_content {
  width: 565px !important;
}

#quick_reply #textarea_content {
  width: 100% !important;
  background: var(--color_background1);
}

/* QEEL */
.bloc_qeell {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  position: relative;
  height: 300px;
  width: 240px;
  font-size: 1.2rem;
  color:var(--color_text);
}

.div_online {
  background-color: var(--color_background4);
  border: solid 1px var(--color_background1);
  border-radius: 3px;
  display: inline-block;
  line-height: 12px;
  padding: 4px;
  text-align: justify;
  vertical-align: top;
  position: relative;
  height: 120px;
  width: 240px;
  overflow: auto;
}

.div_welc {
  height: 110px;
  margin-top: 6px;
}

.gr_welc {
  font-family: var(--police_sst);
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
  line-height: 14px;
  text-align: center;
  height: 30px;
  margin-top: 10px;
}

div#avatar_dernier_membre {
  float: left;
  margin-right: 6px;
  width: 100px !important;
  height: 100px !important;
  overflow: hidden;
  background: silver;
  border-radius: 100px;
}

#avatar_dernier_membre img {
  width: 100px !important;
  height: 100px !important;
  overflow: hidden;
  opacity: 0.7;
  -moz-box-shadow: 0 0 25px var(--color_background4);
  -moz-transition: 1s;
  -o-box-shadow: 0 0 25px var(--color_background4);
  -o-transition: 1s;
  -webkit-box-shadow: 0 0 25px var(--color_background4);
  -webkit-transition: 1s;
  border: 5px solid var(--color_background4);
  box-shadow: 0 0 25px var(--color_background4);
  object-fit: cover;
  transition: 1s;
  border-radius: 100px;
}

#avatar_dernier_membre img:hover {
  opacity: 1;
}

span#dernier_membre {
  display: block;
  font-size: 12px;
  height: 30px;
  padding: 3px;
  margin-top: 18px;
  text-align: center;
}

.statistics {
  overflow: visible;
}

.statistics .wrap:after {
  clear: both;
  content: " ";
  display: block;
}

.bloc_grcopy {
  background-color: transparent;
  border: solid 1px var(--color_background1);
  border-radius: 3px;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 20px;
  margin: 10px;
  padding: 4px;
  text-align: justify;
  vertical-align: top;
  position: relative;
  height: 230px;
  width: 288px;
  color:var(--color_text);
}

.div_gr_icon {
  position: relative;
  top: 3px;
  left: 0px;
  z-index: 11;
  height: 120px;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}

.div_gr_icon img {
  width: 40px;
  height: 40px;
  margin: 0px;
}

.tab_gr {
  width: 290px;
  height: 70px;
  background: transparent;
  position: relative;
  padding-left: 2px;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
}

.bloc_img_gr {
  position: relative;
  width: 40x;
  margin-right: 9px;
  margin-left: 8px;
  margin-top: 10px;
}

.bloc_comm_gr {
  position: absolute;
  top: 25px;
  left: -15px;
  z-index: 12;
  width: 70px;
  background-color: #fff;
  border: 1px solid silver;
  padding: 3px;
  font-size: 9px;
  font-family: var(--police_txt);
  line-height: 9px;
  text-align: center;
  display: none;
  opacity: 0.8;
}

.bloc_img_gr:hover>.bloc_comm_gr {
  display: block;
}

.iconotempo {
  width: 278px;
  height: 70px;
  position: relative;
}

.bloc_copy {
  position: relative;
  top: 5px;
  width: 278px;
  height: 70px;
  background: rgba(255, 255, 255, 0.7);
  padding: 2px;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

.bloc_qeelr {
  background-color: var(--color_background4);
  border: solid 1px var(--color_background1);
  border-radius: 3px;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 12px;
  margin: 10px;
  padding: 4px;
  text-align: justify;
  vertical-align: top;
  position: relative;
  height: 230px;
  width: 240px;
  overflow: auto;
  color:var(--color_text);
}

.bottom_copy {
  width: 952px;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
}
/* FIN DU QEEL */

/* PIED DE PAGE */
div#page-footer {
  background-color: transparent;
  margin-bottom: 0px !important;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #445157 !important;
  font-size: 20px !important;
}

#page-footer .wrap {
  max-width: 850px;
}

.footerbar-system {
  color: var(--color_text);
}

/* Début de la TOOLBAR */
div#fa_toolbar {
  transition: 300ms all ease;
  opacity: 0.9;
  background-color: var(--color_background1) !important;
  border-radius: 0 0 20px 20px !important;
  margin: auto;
  width: 100% !important;
  font-size: 10px !important;
  z-index: 900 !important;
}

div#fa_toolbar div,
div#fa_toolbar span {
  margin: 0 5px;
}

#fa_menu #fa_welcome,
#fa_right a.rightHeaderLink {
  color: var(--color_background2) !important;
}

div#fa_search,
span#fa_share,
#fa_left,
#fa_hide,
a#fa_hide {
  display: none !important;
}

#fa_right {
  float: left !important;
  z-index: 900 !important;
  position: relative;
  left: 0px;
}

.fa_avatar {
  float: left;
  position: relative;
  left: -15px;
  z-index: 998;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  overflow: hidden;
  border: 7px solid;
  border-color: var(--color_background1);
}

.fa_avatar img {
  width: 45px;
}

#fa_share_text,
#fa_service,
#fa_welcome,
#fa_notifications {
  font-size: 10px !important;
  font-family: var(--police_txt);
  text-transform: uppercase;
  line-height: -20px;
  letter-spacing: 1px;
  color: #333333 !important;
  font-weight: bold;
}

a#fa_welcome,
a#fa_notifications,
a#fa_welcome:visited,
a#fa_notifications:visited {
  background: transparent !important;
  color: var(--color_title) !important;
}

a#fa_welcome:hover,
a#fa_notifications:hover,
a#fa_welcome:active,
a#fa_notifications:active {
  background: transparent !important;
  color: var(--color_link) !important;
}

#fa_toolbar #fa_right #notif_list {
  background: var(--color_background1) !important;
  border: none !important;
  color: #333333 !important;
  padding-right: 10px;
}

#fa_menulist {
  background-color: var(--color_background1) !important;
  font-size: 11px !important;
  font-variant: small-caps;
  min-width: 340px;
}

#fa_menu ul {
  background-color: var(--color_background1) !important;
  font-size: 10px !important;
}

#fa_menu:hover :visited,
#fa_toolbar>#fa_right.notification>#fa_notifications {
  background: transparent !important;
  color: #333333 !important;
  font-size: 10px !important;
}

#fa_right.welcome #fa_menu #fa_welcome {
  background: transparent !important;
  font-size: 10px !important;
}

#fa_menulist a {
  color: #333333 !important;
  font-size: 11px !important;
  font-variant: small-caps;
}

ul#fa_menulist {
  background: var(--color_background1) !important;
  border: 0;
  border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  color: #333333 !important;
  font-size: 11px !important;
  font-variant: small-caps;
  position: absolute;
  left: 95px !important;
  top: 40px;
}

#fa_usermenu {
  color: #333333 !important;
  font-size: 11px !important;
}

#fa_usermenu table {
  color: #333333 !important;
  font-size: 10px !important;
  margin-left: 8px;
}

#fa_usermenu table .first {
  color: #333333 !important;
  font-size: 10px !important;
  margin-left: 20px;
}

#fa_usermenu table .bold {
  color: #333333 !important;
  font-size: 10px !important;
}

#fa_ranktitle {
  color: #333333 !important;
  font-size: 10px !important;
}

#fa_usermenu li {
  color: #333333 !important;
  font-size: 11px !important;
}

#fa_usermenu img {
  max-width: 100px !important;
  max-height: 160px !important;
  opacity: 0.8;
  transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
}

#fa_usermenu img:hover {
  opacity: 1;
}

#fa_menulist:link {
  color: var(--color_title) !important;
}

#fa_menulist:visited {
  color: var(--color_title) !important;
}

#fa_menulist:hover {
  color: var(--color_link) !important;
}

#fa_menulist a:link {
  color: var(--color_title) !important;
}

#fa_menulist a:visited {
  color: var(--color_title) !important;
}

#fa_menulist a:hover {
  color: var(--color_link) !important;
}

#fa_toolbar #fa_right #notif_list li.unread {
  background: rgba(255, 255, 255, 0.2) !important;
  font-size: 10px !important;
}

#fa_toolbar #fa_right #notif_list {
  background: var(--color_background1) !important;
  font-size: 10px !important;
}

#fa_toolbar #fa_right #notif_list li .contentText a {
  color: var(--color_title) !important;
  font-size: 10px !important;
  font-variant: small-caps;
}

#fa_toolbar #fa_right #notif_list li.see_all a {
  color: var(--color_title) !important;
  font-size: 10px !important;
  font-variant: small-caps;
}

ul#notif_list {
  background: var(--color_background1) !important;
  border: 0;
  top: 40px !important;
  left: 95px !important;
  margin: 0px !important;
  border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  position: absolute;
}

li.see_all {
  background: transparent !important;
  font-size: 10px !important;
  color: #333333 !important;
  margin-right: 10px;
  text-align: center;
  font-variant: small-caps;
}

#fa_toolbar #fa_right #notif_list li .contentText {
  color: #333333 !important;
}

#fa_toolbar #fa_right #notif_list li .contentText a {
  color: var(--color_title) !important;
}

#fa_toolbar #fa_right #notif_list li .contentText a:hover {
  color: var(--color_link) !important;
}

li.see_all:link {
  color: var(--color_title) !important;
}

li.see_all:visited {
  color: var(--color_title) !important;
}

li.see_all:hover {
  color: var(--color_link) !important;
}

li.see_all a:link {
  color: var(--color_title) !important;
}

li.see_all a:visited {
  color: var(--color_title) !important;
}

li.see_all a:hover {
  color: var(--color_link) !important;
}

#fa_toolbar #live_notif {
  width: 330px;
  position: absolute;
  top: 25px !important;
  left: 75px;
}

#navSIT a {
  transition: all .65s linear;
  -webkit-transition: all .65s linear;
  -moz-transition: all .65s linear;
  -o-transition: all .65s linear;
}

/* modif marges */

#fa_welcome{
  padding:0!important;
}
#fa_notifications {
  margin-left: 3px!important;
}

/* fin TOOLBAR */

/* Début BARRE DE NAVIGUATION MENU */
.mainmenu {
  font-size: 10px !important;
  font-weight: bold;
  font-family: var(--police_txt);
  text-transform: uppercase;
  line-height: -20px;
  letter-spacing: 1px;
  color: #333333 !important;
  z-index: 999 !important;
}

.mainmenu:hover {
  color: var(--color_link) !important;
}

/* nouveaux messages */
.navbar .new-message {
  background-color: var(--color_title);
}

/* NAVBAR EN HAUT */
#nav_barr {
  position: fixed;
  top: -17px !important;
  right: 0px;
  height: 20px !important;
  background: transparent !important;
  border: 0px var(--color_link) solid !important;
  padding-top: 0px !important;
  padding-bottom: 6px !important;
  margin-right: 0px !important;
  z-index: 999 !important;
}

div#search_menu {
  position: absolute !important;
  top: 33px !important;
  left: 70px !important;
  width: 320px !important;
}

#search_menu table {
  width: 320px !important;
}

#search_menu a:link {
  color: var(--color_background5);
  background-color: var(--color_link);
}

#search_menu a:hover {
  color: var(--color_background5)!important;
  background-color: var(--color_title);
}

#search_menu label {
  color: var(--color_text);
}

#search_menu input::placeholder {
  color: var(--color_background5);
}

a.mainmenu:link,
a.mainmenu:visited {
  color: var(--color_background2) !important;
}

a.mainmenu:hover,
a.mainmenu:active {
  color: var(--color_link) !important;
  box-shadow: none;
  background: transparent;
}

.navbar a {
  color: inherit;
}

.overview {
  background: var(--color_background1);
  top: 27px !important;
}

a.mainmenu img,
.mainmenu img {
  display: none;
}

a.mainmenu {
  padding-left: 1px;
  padding-right: 1px;
}

/*pour le référentiel automatique*/
.faceclaim_hidden {
  display: none !important;
}